<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Регистрация</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Логин</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Пароль</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">e-mail</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">День рождения</ion-label>
    <ion-input type="date"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Ваш номер</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Описание</ion-label>
    <ion-textarea rows="6" placeholder="Введите сюда текст..."></ion-textarea>
  </ion-item>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="registration-btn" expand="block">Отправить</ion-button>
  </ion-toolbar>
</ion-footer>
